<h3> Créditos </h3>


<img src='/images/perros.gif' width='150px'/><br>
Programación realiada por : <i>Sergi Trujillo</i><br>
Seguimiento del curso: <i>Desarrollo de servicios en la nube con HTML5, Javascript y node.js</i> en <a href='https://www.miriadax.net/web/javascript-node-js'>Miriada X</a>